<?xml version="1.0"?>
<config>
  <tabs>
    <banana translate="label" module="banana">
      <label>Fera Ai</label>
      <sort_order>100</sort_order>
    </banana>
  </tabs>
  <sections>
    <banana translate="label" module="banana">
      <label>API Keys</label>
      <tab>banana</tab>
      <sort_order>1000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>

      <groups>
        <banana_group translate="label" module="banana">
          <label>API Keys</label>
          <frontend_type>text</frontend_type>
          <sort_order>1000</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>

          <fields>
            <public_key translate="label">
              <label>Public Key: </label>
              <frontend_type>obscure</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </public_key>
            <secret_key translate="label">
              <label>Secret Key: </label>
              <frontend_type>obscure</frontend_type>
              <sort_order>90</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>You can find your API keys at https://app.fera.ai/store/settings</comment>
            </secret_key>
          </fields>
        </banana_group>
      </groups>
    </banana>
  </sections>
</config>
