<?xml version="1.0"?>
<config>
    <modules>
        <Fera_Aiconnector>
            <version>1.1.0</version>
        </Fera_Aiconnector>
    </modules>
    <global>
        <models>
            <aiconnector>
                <class>Fera_Aiconnector_Model</class>
            </aiconnector>
        </models>
        <blocks>
            <aiconnector>
                <class>Fera_Aiconnector_Block</class>
            </aiconnector>
        </blocks>
        <helpers>
            <aiconnector>
                <class>Fera_Aiconnector_Helper</class>
            </aiconnector>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <aiconnector>
                    <file>aiconnector.xml</file>
                </aiconnector>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aiconnector>
                                            <title>Fera Settings</title>
                                        </aiconnector>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
