<?xml version="1.0"?>
<config>
    <modules>
        <Fera_Bananastand>
            <version>1.1.0</version>
        </Fera_Bananastand>
    </modules>
    <global>
        <models>
            <banana>
                <class>Fera_Bananastand_Model</class>
            </banana>
        </models>
        <blocks>
            <banana>
                <class>Fera_Bananastand_Block</class>
            </banana>
        </blocks>
        <helpers>
            <banana>
                <class>Fera_Bananastand_Helper</class>
            </banana>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <banana>
                    <file>banana.xml</file>
                </banana>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <banana>
                                            <title>Fera Settings</title>
                                        </banana>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
